<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Swishbot</h1>
    <table>
        <tr>
            <th>Naam</th>
            <th>Waarde</th>
        </tr>
        <tr>
            <th>Schoten</th>
            <th><%= attempts %></th>
        </tr>
        <tr>
            <th>Goals</th>
            <th><%= goals %></th>
        </tr>
        <tr>
            <th>Percentage</th>
            <th><%= parseFloat(fgPercentage).toFixed(2) %>%</th>
        </tr>
    </table>
    <div class="chart1-container" style="position: relative; height: 200px; width: 70vw;">
        <canvas id="chart1"></canvas>
    </div>
    <div class="chart2-container" style="position: relative; height: 200px; width: 70vw;">
        <canvas id="chart2"></canvas>
    </div>
    <script>
        let xlabels1 = []
        let data1 = []
        let xlabels2 = []
        let data2 = []

        <% graphData.forEach(dataPoint => { %>
            xlabels1.push(<%= dataPoint.attempt %>)
            data1.push(<%= dataPoint.goalsAmount %>)
            xlabels2.push(<%= dataPoint.attempt %>)
            data2.push(<%= dataPoint.fgPercentage %>)
        <% }) %>
        const ctx = document.getElementById('chart1');
        const ctx2 = document.getElementById('chart2');

        if(data1.length > 40){
            console.log(data1.length)
            for(i=0; i < data1.length - 40; i++){
                data1.splice(0, 1)
                xlabels1.splice(0, 1)
            }
        }
        if(data2.length > 40){
            console.log(data2.length)
            for(i=0; i < data2.length - 40; i++){
                data2.splice(0, 1)
                xlabels2.splice(0, 1)
            }
        }


        new Chart(ctx, {
        type: 'line',
        data: {
            labels: xlabels1,
            datasets: [{
            label: 'Goals',
            data: data1,
            borderWidth: 1
            }]
        }, 
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grace: 1,
                    min: 0
                }
            }
        }
        }); 
        new Chart(ctx2, {
        type: 'line',
        data: {
            labels: xlabels2,
            datasets: [{
            label: 'Percentage',
            data: data2,
            borderWidth: 1
            }]
        }, 
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    grace: 0.1,
                    min: 0,
                    max: 1
                }
            }
        }
        }); 
    </script>
    <video src="/video.mp4" controls height="400px"></video>
</body>
</html>